@model IEnumerable<TodoList_Codnity.Models.TodoList>

@{
    ViewData["Title"] = "Todo List";
}

<h1>Todo List</h1>

<p>
    <a asp-action="Create"> <button type="button" class="btn btn-primary">Create new task</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @if (Model.Any())
                {
                    @Html.DisplayNameFor(model => model.First().Title)
                }
            </th>
            <th>
                @if (Model.Any())
                {
                    @Html.DisplayNameFor(model => model.First().IsCompleted)
                }
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @if (item.IsCompleted)
                    {
                        <div class="form-check">
                            <input style="opacity: 1;" class="form-check-input" type="checkbox" checked="checked" disabled id="completedCheckbox@(item.Id)">
                            <label style="opacity: 1;" class="form-check-label" for="completedCheckbox@(item.Id)">
                                Completed
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check">
                            <input style="opacity: 1;" class="form-check-input is-invalid" type="checkbox" checked="checked" disabled id="completedCheckbox@(item.Id)">
                            <label style="opacity: 1;" class="form-check-label" for="completedCheckbox@(item.Id)">
                                In Progress
                            </label>
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><Button type="button" class="btn btn-primary">Edit</Button></a>

                    <a asp-action="Details" asp-route-id="@item.Id"> <Button type="button" class="btn btn-info">Details</Button></a>

                    <a asp-action="Delete" asp-route-id="@item.Id"><Button type="button" class="btn btn-danger">Delete</Button></a>
                </td>
            </tr>
        }
    </tbody>
</table>